<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zwh.stusys.mapper.PermissionsMapper">
  <resultMap id="BaseResultMap" type="com.zwh.stusys.entity.Permissions">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="pid" jdbcType="VARCHAR" property="pid" />
    <result column="pname" jdbcType="VARCHAR" property="pname" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="parentid" jdbcType="VARCHAR" property="parentid" />
    <result column="isparent" jdbcType="VARCHAR" property="isparent" />
    <result column="ismenu" jdbcType="VARCHAR" property="ismenu" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, pid, pname, url, parentid, isparent, ismenu
  </sql>
  <select id="selectByExample" parameterType="com.zwh.stusys.entity.PermissionsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from permissions
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from permissions
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByTrueKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from permissions
    where pid = #{pid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from permissions
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zwh.stusys.entity.PermissionsExample">
    delete from permissions
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zwh.stusys.entity.Permissions">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into permissions (pid, pname, url, 
      parentid, isparent, ismenu
      )
    values (#{pid,jdbcType=VARCHAR}, #{pname,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, 
      #{parentid,jdbcType=VARCHAR}, #{isparent,jdbcType=VARCHAR}, #{ismenu,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zwh.stusys.entity.Permissions">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into permissions
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pid != null">
        pid,
      </if>
      <if test="pname != null">
        pname,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="parentid != null">
        parentid,
      </if>
      <if test="isparent != null">
        isparent,
      </if>
      <if test="ismenu != null">
        ismenu,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pid != null">
        #{pid,jdbcType=VARCHAR},
      </if>
      <if test="pname != null">
        #{pname,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="parentid != null">
        #{parentid,jdbcType=VARCHAR},
      </if>
      <if test="isparent != null">
        #{isparent,jdbcType=VARCHAR},
      </if>
      <if test="ismenu != null">
        #{ismenu,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zwh.stusys.entity.PermissionsExample" resultType="java.lang.Long">
    select count(*) from permissions
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  
  <select id="searchAllPermissionsPage" parameterType="map" resultMap="BaseResultMap">
  select
  <include refid="Base_Column_List" />
  from permissions
  <where>
  	<if test="permissions!=null and permissions.pname!=null and permission.pname!=''">
  		pname like '%${permissions.pname}%'
  	</if>
  	<if test="permissions!=null and permissions.parentid!=null and permission.parentid!=''">
  		parentid = #{permissions.parentid}
  	</if>
  </where>
  limit #{start},#{length}
  </select>
  
  <select id="searchCount" parameterType="com.zwh.stusys.entity.Permissions" resultType="int">
  	select count(id) from permissions
  	<where>
  		<if test="pname!=null and pname!=''">
  			pname like '%${pname}%'
  		</if>
  		<if test="parentid!=null and parentid!=''">
  			parentid = #{parentid}
  		</if>
  	</where>
  </select>
  
  <update id="updateByExampleSelective" parameterType="map">
    update permissions
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.pid != null">
        pid = #{record.pid,jdbcType=VARCHAR},
      </if>
      <if test="record.pname != null">
        pname = #{record.pname,jdbcType=VARCHAR},
      </if>
      <if test="record.url != null">
        url = #{record.url,jdbcType=VARCHAR},
      </if>
      <if test="record.parentid != null">
        parentid = #{record.parentid,jdbcType=VARCHAR},
      </if>
      <if test="record.isparent != null">
        isparent = #{record.isparent,jdbcType=VARCHAR},
      </if>
      <if test="record.ismenu != null">
        ismenu = #{record.ismenu,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update permissions
    set id = #{record.id,jdbcType=INTEGER},
      pid = #{record.pid,jdbcType=VARCHAR},
      pname = #{record.pname,jdbcType=VARCHAR},
      url = #{record.url,jdbcType=VARCHAR},
      parentid = #{record.parentid,jdbcType=VARCHAR},
      isparent = #{record.isparent,jdbcType=VARCHAR},
      ismenu = #{record.ismenu,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zwh.stusys.entity.Permissions">
    update permissions
    <set>
      <if test="pid != null">
        pid = #{pid,jdbcType=VARCHAR},
      </if>
      <if test="pname != null">
        pname = #{pname,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="parentid != null">
        parentid = #{parentid,jdbcType=VARCHAR},
      </if>
      <if test="isparent != null">
        isparent = #{isparent,jdbcType=VARCHAR},
      </if>
      <if test="ismenu != null">
        ismenu = #{ismenu,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zwh.stusys.entity.Permissions">
    update permissions
    set pid = #{pid,jdbcType=VARCHAR},
      pname = #{pname,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      parentid = #{parentid,jdbcType=VARCHAR},
      isparent = #{isparent,jdbcType=VARCHAR},
      ismenu = #{ismenu,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>